<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>product_name</th>
      <th>quality</th>
      <th>material_id</th>
      <th>worth</th>
      <th>source</th>
      <th>material_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>simple_product</td>
      <td>low</td>
      <td>1</td>
      <td>5.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>plastic</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>nice_product</td>
      <td>medium</td>
      <td>1</td>
      <td>15.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>plastic</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>fancy_product</td>
      <td>high</td>
      <td>2</td>
      <td>35.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>cool_product</td>
      <td>special</td>
      <td>3</td>
      <td>50.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>torn_product</td>
      <td>low</td>
      <td>2</td>
      <td>1.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>okay_product</td>
      <td>low</td>
      <td>2</td>
      <td>7.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.1.csv</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>simple_object</td>
      <td>low</td>
      <td>1</td>
      <td>5.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>plastic</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>plain_object</td>
      <td>medium</td>
      <td>2</td>
      <td>60.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>fancy_object</td>
      <td>high</td>
      <td>2</td>
      <td>140.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>special_object</td>
      <td>special</td>
      <td>3</td>
      <td>450.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>basic_object</td>
      <td>low</td>
      <td>3</td>
      <td>63.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>regular_object</td>
      <td>low</td>
      <td>2</td>
      <td>28.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>normal_object</td>
      <td>medium</td>
      <td>2</td>
      <td>60.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>dull_object</td>
      <td>low</td>
      <td>1</td>
      <td>7.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>plastic</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>broken_object</td>
      <td>low</td>
      <td>1</td>
      <td>2.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_2/sample_data.3.dat</td>
      <td>plastic</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>basic_thing</td>
      <td>low</td>
      <td>2</td>
      <td>6.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>cool_thing</td>
      <td>high</td>
      <td>3</td>
      <td>185.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>decent_thing</td>
      <td>low</td>
      <td>2</td>
      <td>32.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>plain_thing</td>
      <td>medium</td>
      <td>3</td>
      <td>12.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>really_nice_thing</td>
      <td>special</td>
      <td>2</td>
      <td>65.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>wood</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>regular_thing</td>
      <td>medium</td>
      <td>3</td>
      <td>20.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>metal</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>simple_thing</td>
      <td>low</td>
      <td>1</td>
      <td>20.0</td>
      <td>/home/shaestagir/CodingExercises/etl_example_exercise/Input/data_source_1/sample_data.2.dat</td>
      <td>plastic</td>
    </tr>
  </tbody>
</table>